<% layout('../views/layout') %> 

<form action="/patient/new" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="firstname">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="lastname">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Age</label>
        <input type="number" class="form-control" id="exampleInputPassword1" name="age">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Sex</label>
        <select class="form-control" id="exampleFormControlSelect1" name="sex">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Sex</label>
        <select class="form-control" id="exampleFormControlSelect1" name="diseases_id">
          <% for(let disease of diseases){ %> 
            <option value="<%= disease._id %>"><%= disease.name %></option>
          <% } %> 
        </select>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>